.cell-layer {
  position: absolute;
  top: 12%;
  width: 43%;
  height: 64%;
  display: grid;
  place-items: center;
  z-index: 2;
  background: var(--color-background-reaction-board-5);
  border: 1px solid var(--color-border-reaction-board-2);
  border-radius: 3px;
  overflow: hidden;
}
