.app.combat-app {
  position: relative;
  padding-top: 60px;
}
button.combat-menu-button {
  position: absolute;
  top: 8px;
  left: 18px;
  z-index: 20;
}
@media (max-width: 599px) {
  .app.combat-app {
    padding-top: 56px;
  }
  button.combat-menu-button {
    left: 8px;
    top: 6px;
  }
}
